<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<table class="table1">
	<% @movies.each do |movie| %>
		<tr>
			<td class="title2"><%= link_to(movie.title, movie_path(movie)) %></td>
			
			<td><img src="<%= movie.poster %>" class="poster"></td>

			<td class="text2"><%= link_to('Reviews', movie_reviews_path(movie)) %></td>
			
		</tr>
		<% end %>
	</table>
</body>
</html>