<!DOCTYPE html>
<html>
	<head>
		<title></title>
	</head>
	<body>
	<div id="welcome"> <img src="http://upload.wikimedia.org/wikipedia/en/4/46/Userpage_decoration_for_Redvers_-_Welcome.png" /> </div>
	<h3 class="text"> This is your movie database  <br>
	 The page Hollywood doesn't want you to know. </h3>
	<h3 class="enter"> <img src="http://img1.wikia.nocookie.net/__cb20110705195119/lego/images/c/cd/Warning_sign.png" class="icon"/> <%= link_to('ENTER AT YOUR OWN RISK!', '/movies') %> <img src="http://img1.wikia.nocookie.net/__cb20110705195119/lego/images/c/cd/Warning_sign.png" class="icon"/> </h3>  
	</body>
</html>
